body {
    margin: 0;
    font-family:Arial,sans-serif;
   }
  nav {
    background-color:#001f3f ; 
    overflow: hidden;
    width: 100%;
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-direction:row ; 
       }
.nav-link {
    align-items: center;
       }
nav a{
 color: white;
 text-decoration: none;
 margin-left: 10px; /* Add margin between links and profile picture */
 display: inline-block;
    }
.logo img {
    height: 60px;
}
  .centered-image{
    align-items: center;
    margin-left:500px;
  }
  .health-tracker1{
margin-left: 470px;
  }
  .protect-yourself-by{
    margin-left: 450px;
   
  }
  form{
    display:flex;
    flex-direction: column;
    margin-left:400px;
  }
  form input[type=Email]{
    width: 45%;
      height: fit-content;
      padding: 8px;
      box-sizing: border-box;
  }
   form input[type=Password]{
    width: 45%;
    height: fit-content;
    padding: 8px;
    box-sizing: border-box;
  } 
  form  input[type=submit]{
    background-color: #001f3f ;
    color:#fff;
    width: 80px;
  margin-left:50px;
    padding: 20px;
  }