body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:#001f3f  ;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidenav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
 
 .content p {
  font-size: 30px;
  font-style: normal;
  margin-left: 20px;
}
 .content label{
  margin-left: 20px;
  padding: 20px;
  font-size: 20px;
  font-style: normal;
 }
 .content form input[type=number]{
  width:70px;
  height:40px;
  margin-left:50px;
 }
 .content form text {
    font-size: 20px;
 }
 .content form select {
    color:black;
    width:100px;
    height:40px;
   
    border-color: black;
    border-radius: 2px;
    background-color: white;
  }
 .content form input[type=submit] {
    font-size: 20px;
    width: 70px;
    height:50px;
    float:left;
  
    background-color: #001f3f;
    color: white;
    border: none;
    border-radius: 4px;
   cursor: pointer;
 }
  .content form .button  input[type=submit]{
     font-size: 20px;
     width: 70px;
     height:50px;
     float:right;
     
     background-color: #001f3f;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }
